.nav {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav .navlink-title {
    display: none;
  }

  .nav a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
