.avatar {
  width: 3rem;
  height: 3rem;
  background: transparent;
  font-size: 1.2rem;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
}

.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.5rem;
}

.avatar-xl {
  width: 6rem;
  height: 6rem;
  font-size: 2.5rem;
}
